*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    color: #f4f4f4;
    font-size: 18px;
    line-height: 1.8;
}
header#showcase::after{
    content: '';

    background-image: url("../images/mexican_pizza_fullscreen.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
    width: 100%;

    display: block;

    transition: all 2000ms;
    filter: blur(10px);
} 
header#showcase:hover::after{
    filter: blur(0px);
    transform: all 2000ms;
}
.content{
    z-index: 1;
    position: absolute;

    top: 40%;
    left: 40%;
    right: 25%;
}
.content p{
    margin-left: 10%;
}
#about{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    

    justify-items: center;
}
.about-section h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
#services{
    background-color: #f6f6f6;
    padding: 50px;
    color: #222;
}
#services div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-gap: 20px;

    justify-items: center;
}
input{
    width: 40%;
    padding: 5px;
    background-color: dimgrey;
    color: #f4f4f4;
    border: 0;
}
button{
    background-color: #777;
    color: #f4f4f4;
    padding: 7px;
    border: 0px;

    margin-left: 95%;

}
#wrong_message_JS{
    margin-top: 100px;
    margin-left: 150px;
    width: 70%;
}